<p id="notice"><%= notice %></p>

<h1>Codes</h1>

<div class="row">

    <% @codes.each do |code| %>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <%= image_tag code.image.composite.url, class: "col-sm-12" %>
        <% timeago = (Time.now.to_date - code.created_at.to_date).to_i %>
        <% if timeago > 0 %>
          <td><%= timeago %> Days old. </td>
        <% elsif timeago == 0 %>
          <td>Uploaded Today.</td>
        <% else %>
          <td>Somehow uploaded in the future.</td>
        <% end %>
        <%= link_to 'Destroy', code, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
</div>
<div class="row">
  <p></p>
</div>
<div class="row">
  <%= link_to 'Upload New QR Code', new_code_path, class: "btn btn-primary" %>
</div>
